@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,700);
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/* ------------------------------------ */

body {
  font-family: Roboto;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

.title {
  font-family: Montserrat;
  font-weight: 700;
  @include adaptiv-value('font-size', 64, 34, 1);
  color: #333;
}

.button {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  background: linear-gradient(180deg, #fcdfa5 0%, #eec881 100%);
  border-radius: 25px;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(180deg, #fcdfa5cc 0%, #eec881cc 100%);
    }
  }
}

[class*="__container"] {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------ */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__top {}

  &__bottom {}
}

.top-header {
  padding: 10px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }

  &__logo {}

  &__text {
    max-width: 205px;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 60px;
    @media (max-width: 1050px) {
      margin: 0;
    }
  }

  &__location {
    font-size: 16px;
  }

  &__social {}

  &__info {}
}

.social-header {
  @include adaptiv-value('min-width', 185, 140, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -42px;
    left: 0;
    @include adaptiv-value('width', 185, 140, 1);
    height: 170px;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, #f4f4f4 0%, #efefef 100%);
    border-radius: 25px;
  }
  
  &__messengers {
    display: flex;
    z-index: 2;
    @include adaptiv-value('gap', 17, 10, 1);
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__whatsapp {}

  &__telegram {}

  &__text {
    z-index: 2;
    padding: 0 17px 30px 17px;
    font-size: 18px;
    text-align: center;
  }
}

.info-header {
  min-width: 180px;
  display: grid;
  gap: 10px;
  &__available {
    font-size: 14px;
  }

  &__phone {
    display: block;
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__callback {
    font-weight: 700;
    font-size: 15px;
    text-decoration: underline;
    color: #684e3f;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        color: rgba(105, 69, 49, 0.806);
      }
    }
  }
}

.bottom-header {
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
  &__container {
    @include adaptiv-value('min-height', 70, 60, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    display: none;
  }

  &__menu {}
}

.menu {
  &__icon {}

  &__body {}

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      align-items: center;
    }
  }

  &__item {
    position: relative;
    transition: all 0.3s ease 0s;
  }

  &__link {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    @media (any-hover: hover) {
      &:hover {
        color: #000000a4;
      }
    }
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    bottom: -22px;
    right: -6px;
    background: url(../images/header/icons/arrow-down.svg) center no-repeat;
    cursor: pointer;
    &.active {
      transform: rotate(-180deg);
    }
    @media (max-width: 767px) {
      top: 0;
      right: -30px;
      &.active {
        right: 38px;
      }
    }
  }
}

.sub-menu {
  &__list {
    display: none;
    min-width: 240px;
    position: absolute;
    left: 0;
    top: 45px;
    background-color: #fff;
    border-radius: 20px;
    &.open {
      display: block;
    }
    @media (max-width: 767px) {
      position: relative;
      left: 0;
      top: 0;
      max-width: 240px;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }

  &__item {}

  &__link {
    color: #000;
    display: block;
    padding: 5px 10px;
    text-transform: lowercase;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #000000a6;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .top-header {
    &__text {
      display: none;
    }
    &__location {
      display: none;
    }
  }
  .social-header {
    @include adaptiv-value('width', 185, 140, 1);
  }
}

@media (min-width: 767px) {
  .header {
    background: url(../images/header/bg.png) center no-repeat;
  }
  .bottom-header {
    &__container {
      border-bottom: 1px solid rgba(108, 82, 62, 0.5);
    }
  }
}

@media (max-width: 767px) {
  .top-header {
    display: none;
  }
  .bottom-header {
    padding: 5px 0;
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      display: block;
      z-index: 2;
      img {
        @include adaptiv-value('max-width', 150, 90, 1);
      }
    }
  }

  .menu {
    &__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 27px;
      height: 16px;
      cursor: pointer;
      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
      }
      &::before,
      &::after {
        content: '';
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
    &__body {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 90px 30px 30px 30px;
      @include adaptiv-value('padding-top', 120, 80, 1);
      transition: top 0.3s ease 0s;
      overflow: auto;
      &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        @include adaptiv-value('height', 100, 70, 1);
        background: #fff;
      }
      &._active {
        top: 0;
      }
    }
    &__list {
      flex-direction: column;
      text-align: center;
      @include adaptiv-value('gap',20, 15, 1);
    }
    &__link {
      @include adaptiv-value('font-size', 32, 24, 1);
      color: #fff;
      span {
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
      }
    }
  }
}

/* ------------------------------------ */

.main {
  background: url(../images/main/bg.png) 0 0/cover no-repeat;
  &__container {
    min-height: 100vh;
    @include adaptiv-value('padding-top', 230, 180, 1);
    @include adaptiv-value('padding-bottom', 100, 10, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 767px) {
      @include adaptiv-value('padding-top', 270, 0, 1);
    }
  }
  
  &__title {
    line-height: 109%;
    max-width: 700px;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 15, 1);
    }
  }

  &__text {
    font-weight: 300;
    @include adaptiv-value('max-width', 420, 400, 1);
    @include adaptiv-value('padding-left', 94, 80, 1);
    position: relative;
    &:not(:last-child) {
      margin-bottom: 19px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 86px;
      height: 86px;
      background: url(../images/main/icons/arrow.svg) no-repeat;
    }
  }

  &__button {
    display: inline-block;
    max-width: 400px;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    padding: 38px 30px 38px 80px;
    background: linear-gradient(180deg, #fcdfa5 0%, #eec881 100%);
    border-radius: 25px;
    position: relative;
    box-shadow: 0 8px #d1ab68;
    @media (any-hover: hover) {
      &:hover {
        background: linear-gradient(180deg, #edca84 0%, #e6bb6c 100%);
      }
    }
    &:active {
      top: 8px;
      box-shadow: none;
    }
    @media (min-width: 767px) {
      &::before {
        content: '';
        position: absolute;
        top: 26px;
        left: 18px;
        width: 50px;
        height: 50px;
        background: url(../images/main/icons/button-icon.svg) no-repeat;
      }
    }
    @media (max-width: 767px) {
      @include adaptiv-value('padding', 30, 15, 1);
      @include adaptiv-value('max-width', 400, 320, 1);
    }
  }

  &__info {
    position: absolute;
    top: 60%;
    left: 54.5%;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.05);
    background: linear-gradient(186deg, #d8c9b3 0%, #efefef 100%);
    border-radius: 5px;
    p {
      @include adaptiv-value('font-size', 24, 17, 1);
      @include adaptiv-value('max-width', 400, 290, 1);
      padding: 15px;
      
    }
    span {
      font-weight: 700;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

/* ------------------------------------ */

.info {
  @include adaptiv-value('padding-bottom', 50, 30, 1);
  @media (min-width: 991.98px) {
    margin-top: -80px;
  }
  @media (max-width: 991.98px) {
    padding-top: 30px;
  }
  &__container {}

  &__items {
    display: grid;
    @media (min-width: 991.98px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }

  &__item {
    @include adaptiv-value('padding', 25, 15, 1);
    @media (min-width: 991.98px) {
      &:first-child {
        border-radius: 30px 0 0 30px;
      }
      &:last-child {
        border-radius: 0 30px 30px 0;
      }
    }
    @media (min-width: 500px) {
      &:nth-child(odd) {
        background: linear-gradient(180deg, #f4f4f4 0%, #efefef 100%);
      }
      &:nth-child(even) {
        background: linear-gradient(180deg, #fff 0%, #d8d8d8 100%);
      }
    }
    @media (max-width: 500px) {
      background: linear-gradient(180deg, #fff 0%, #d8d8d8 100%);
    }
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__text {
    p {
      font-size: 18px;
      span {
        font-weight: 700;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

/* ------------------------------------ */

.services {
  @include adaptiv-value('padding-bottom', 55, 30, 1);
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 60, 20, 1);
    }
  }

  &__tab {}

  &__button {
    display: inline-block;
    align-self: center;
    @include adaptiv-value('padding', 25, 15, 1);
    @include adaptiv-value('padding-left', 60, 20, 1);
    @include adaptiv-value('padding-right', 60, 20, 1);
  }
}

.tab-services {
  &__header {}

  &__content {}
}

.header-tab-services {
  @include adaptiv-value('margin-bottom', 42, 25, 1);
  @media (min-width: 420px) {
    border-bottom: 1px solid rgba(108, 82, 62, 0.5);
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    @include adaptiv-value('gap', 40, 15, 1);
    @media (max-width: 420px) {
      flex-direction: column;
    }
  }

  &__item {
    font-size: 18px;
    text-transform: uppercase;
    color: #4f4f4f;
    @include adaptiv-value('padding-bottom', 37, 20, 1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        color: #4f4f4fc5;
      }
    }
    &_active {
      font-weight: 700;
      color: #d2ac69;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #d2ac69;
      }
      @media (any-hover: hover) {
        &:hover {
          color: #d2ac69;
        }
      }
    }
  }
}

.content-tab-services {
  @include adaptiv-value('margin-bottom', 50, 20, 1);
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    @include adaptiv-value('column-gap', 20, 15, 1);
    @include adaptiv-value('row-gap', 33, 20, 1);
  }

  &__item {
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 25px;
    padding: 20px 20px 28px 31px;
    display: grid;
    grid-auto-flow: row;
    position: relative;
    @media (min-width: 992.98px) {
      grid-template: 1fr 0.4fr auto minmax(24px, auto)/ 1fr;
    }
    @media (max-width: 992.98px) {
      grid-template: 1fr auto auto minmax(24px, auto)/ 1fr;
    }
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    img {
      max-width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__price {
    color: #707070;
    span {
      font-weight: 700;
    }
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 28, 15, 1);
    }
  }

  &__button {
    justify-self: end;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #d2ac69;
    position: relative;
    padding-right: 40px;
    transition: all 0.3s ease 0s;
    &::before {
      content: '';
      position: absolute;
      top: -4px;
      right: 0;
      width: 24px;
      height: 24px;
      background: url(../images/services/icon/arrow-right.svg) no-repeat;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #d2ac69d6;
      }
    }
    @media (max-width: 767px) {
      justify-self: start;
    }
  }

  &__repair {
    position: absolute;
    top: 13px;
    right: 18px;
  }
}

// Tabs
.show {
  display: block;
  display: grid;
}

.hide {
  display: none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

/* ------------------------------------ */
/* ------------------------------------ */